.head{
    font-style: oblique;
    font-size: 35px;
    background-color: rgb(148, 7, 7);
    color: rgb(1, 7, 11);
    padding: 20px 0px 20px 0px;
    text-align: center;
}
.card {
    background-color: rgb(144, 122, 144);
    box-shadow: 0 5px 8px 0 rgba(73, 192, 67, 0.2);
    transition: 0.3s;
    width: 40%;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .cards{
    gap: 55px 90px;
    display: flex;
    border: 1px solid red;
    padding: 0.5px;
    flex-wrap: wrap;
    justify-content: center;
}
  .card .profile-image img{
    border-radius: 50%;
  }
  .card .card-content{
    text-align: center;
  }
  .card .card-content h3{
    font-size: large;
  }
  .card .card-content h2{
    font-size: medium;
  }
  h2 {
    color: rgb(15, 14, 14);
    font-weight: normal;
    letter-spacing: 0.1cm;
    margin-bottom: 1cm;
    text-transform: uppercase;
    text-shadow: brown;
    font-size: 50px;
  }